In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/book (1).csv',encoding = "ISO-8859-1")

In [ ]:
data = df.rename({'User.ID': 'ID'}, axis=1)

In [ ]:
data

,Unnamed: 0,ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [ ]:
data1 = data.rename({'Book.Title': 'Title'}, axis=1)

In [ ]:
data2 = data1.rename({'Book.Rating': 'Rating'}, axis=1)

In [ ]:
data2.head()

,Unnamed: 0,ID,Title,Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [ ]:
book=data2.drop('Unnamed: 0',axis=1)

In [ ]:
book

          ID                                              Title  Rating
0     276726                                Classical Mythology       5
1     276729                                       Clara Callan       3
2     276729                               Decision in Normandy       6
3     276736  Flu: The Story of the Great Influenza Pandemic...       8
4     276737                             The Mummies of Urumchi       6
...      ...                                                ...     ...
9995  162121       American Fried: Adventures of a Happy Eater.       7
9996  162121                              Cannibal In Manhattan       9
9997  162121                    How to Flirt: A Practical Guide       7
9998  162121                                           Twilight       8
9999  162129                       Kids Say the Darndest Things       6

[10000 rows x 3 columns]

In [ ]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10000 non-null  int64
 1   Title   10000 non-null  object
 2   Rating  10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

In [ ]:
book.describe()

                  ID       Rating
count   10000.000000  10000.00000
mean    95321.249800      7.56630
std    117645.703609      1.82152
min         8.000000      1.00000
25%      2103.000000      7.00000
50%      3757.000000      8.00000
75%    162052.000000      9.00000
max    278854.000000     10.00000

In [ ]:
#Data Structure 
print(type(book))
print(book.shape)

<class 'pandas.core.frame.DataFrame'>
(10000, 3)

In [ ]:
book.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [ ]:
#Count of duplicated rows
book[book.duplicated()].shape

(2, 3)

In [ ]:
book.sort_values('ID')

          ID                                              Title  Rating
2401       8                                              Wings       5
2400       8  The Western way: A practical guide to the West...       5
2399       8                            Ancient Celtic Romances       5
2402       8                                           Truckers       5
2405       8                                  The Art Of Celtia       7
...      ...                                                ...     ...
2395  278854      La crÃƒÂ³nica del PerÃƒÂº (CrÃƒÂ³nicas de AmÃƒÂ©rica)       7
2398  278854  Celtic Mythology (Library of the World's Myths...       8
2393  278854                         A corrente de Trewis Scott       7
2394  278854                                      As valkÃƒÂ­rias       7
2397  278854     A Treasury of Irish Myth, Legend, and Folklore       6

[10000 rows x 3 columns]

In [ ]:
#number of unique users in the dataset
len(book.ID.unique())

2182

In [ ]:
book['Rating'].value_counts()

8     2283
7     2076
10    1732
9     1493
5     1007
6      920
4      237
3      146
2       63
1       43
Name: Rating, dtype: int64

In [ ]:
len(book.Title.unique())

9659

In [ ]:
user_book=book.pivot_table(index='ID',
                            columns='Title',
                              values='Rating',aggfunc='sum')
book.set_index(['ID','Title','Rating'],append=True)

Empty DataFrame
Columns: []
Index: [(0, 276726, Classical Mythology, 5), (1, 276729, Clara Callan, 3), (2, 276729, Decision in Normandy, 6), (3, 276736, Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It, 8), (4, 276737, The Mummies of Urumchi, 6), (5, 276744, The Kitchen God's Wife, 7), (6, 276745, What If?: The World's Foremost Military Historians Imagine What Might Have Been, 10), (7, 276747, PLEADING GUILTY, 9), (8, 276747, Under the Black Flag: The Romance and the Reality of Life Among the Pirates, 9), (9, 276747, Where You'll Find Me: And Other Stories, 8), (10, 276747, Nights Below Station Street, 7), (11, 276747, Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust, 7), (12, 276748, The Middle Stories, 6), (13, 276751, Jane Doe, 8), (14, 276754, A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series), 8), (15, 276755, The Witchfinder (Amos Walker Mystery Series), 5), (16, 276760, More Cunning Than Man: A Social History of Rats and Man, 10), (17, 276762, Goodbye to the Buttermilk Sky, 5), (18, 276762, The Testament, 8), (19, 276762, Beloved (Plume Contemporary Fiction), 3), (20, 276762, Our Dumb Century: The Onion Presents 100 Years of Headlines from America's Finest News Source, 4), (21, 276768, New Vegetarian: Bold and Beautiful Recipes for Every Occasion, 4), (22, 276772, If I'd Known Then What I Know Now: Why Not Learn from the Mistakes of Others? : You Can't Afford to Make Them All Yourself, 7), (23, 276772, Mary-Kate &amp; Ashley Switching Goals (Mary-Kate and Ashley Starring in), 10), (24, 276772, Tell Me This Isn't Happening, 10), (25, 276774, Flood : Mississippi 1927, 9), (26, 276780, Wild Animus, 7), (27, 276780, Airframe, 7), (28, 276786, Timeline, 6), (29, 276786, OUT OF THE SILENT PLANET, 8), (30, 276786, Prague : A Novel, 6), (31, 276786, Chocolate Jesus, 6), (32, 276788, Wie Barney es sieht., 8), (33, 276788, Der Fluch der Kaiserin. Ein Richter- Di- Roman., 7), (34, 276788, Sturmzeit. Roman., 10), (35, 276796, Tage der Unschuld., 5), (36, 276798, Lying Awake, 5), (37, 276798, To Kill a Mockingbird, 7), (38, 276798, Seabiscuit: An American Legend, 6), (39, 276800, Pigs in Heaven, 7), (40, 276804, Miss Zukas and the Raven's Dance, 8), (41, 276808, Pride and Prejudice, 10), (42, 276811, The Therapeutic Touch: How to Use Your Hands to Help or to Heal, 10), (43, 276812, Downtown, 8), (44, 276813, Icebound, 8), (45, 276813, I'll Be Seeing You, 8), (46, 276813, From the Corner of His Eye, 6), (47, 276813, Isle of Dogs, 8), (48, 276813, Purity in Death, 6), (49, 276813, This Year It Will Be Different: And Other Stories, 6), (50, 276813, Proxies, 8), (51, 276814, Left Behind: A Novel of the Earth's Last Days (Left Behind #1), 8), (52, 276814, The Street Lawyer, 7), (53, 276814, Love, Medicine and Miracles, 9), (54, 276820, All the King's Men, 9), (55, 276822, Pacific Northwest, 10), (56, 276822, A Soldier of the Great War, 9), (57, 276822, Getting Well Again, 10), (58, 276822, Northwest Wines and Wineries, 9), (59, 276822, An Atmosphere of Eternity: Stories of India, 9), (60, 276822, LONESOME DOVE, 10), (61, 276822, Shabanu: Daughter of the Wind (Border Trilogy), 6), (62, 276822, Haveli (Laurel Leaf Books), 9), (63, 276822, Lieux dits, 8), (64, 276822, The Dragons of Eden: Speculations on the Evolution of Human Intelligence, 10), (65, 276822, The yawning heights, 9), (66, 276822, Breathing Lessons, 10), (67, 276822, The Joy Luck Club, 10), (68, 276822, Heart of Darkness (Wordsworth Collection), 8), (69, 276822, The Angel Is Near, 10), (70, 276827, Tess of the D'Urbervilles (Wordsworth Classics), 7), (71, 276828, The Adventures of Drew and Ellie: The Magical Dress, 7), (72, 276830, The Accidental Virgin, 9), (73, 276832, The Tao of Pooh, 5), (74, 276835, Seabiscuit, 10), (75, 276837, The Prince, 5), (76, 276842, Life's Little Instruction Book (Life's Little Instruction Books (Paperback)), 7), (77, 276847, Starship Troopers, 5), (78, 276847, The Ruby in the Smoke (Sally Lockhart Trilogy, Book 1), 8), (79, 276847, Black Beauty (Illustrated Classics), 8), (80, 276847, Anil's Ghost, 7), (81, 276847, Prescription for Terror, 10), (82, 276847, Modern Manners: An Etiquette Book for Rude People, 8), (83, 276847, Turning Thirty, 8), (84, 276847, Decipher, 9), (85, 276847, My First Cousin Once Removed: Money, Madness, and the Family of Robert Lowell, 10), (86, 276847, Standing Firm: A Vice-Presidential Memoir, 9), (87, 276847, Team Bush : Leadership Lessons from the Bush White House, 8), (88, 276847, The Right Man : The Surprise Presidency of George W. Bush, 7), (89, 276847, Daybreakers Louis Lamour Collection, 10), (90, 276847, The Catcher in the Rye, 8), (91, 276847, El Senor De Los Anillos: LA Comunidad Del Anillo (Lord of the Rings (Spanish)), 10), (92, 276847, El Senor De Los Anillos: Las DOS Torres (Lord of the Rings (Paperback)), 7), (93, 276847, El Senor De Los Anillos: El Retorno Del Rey (Tolkien, J. R. R. Lord of the Rings. 3.), 9), (94, 276847, Midnight in the Garden of Good and Evil: A Savannah Story, 6), (95, 276847, Pretend You Don't See Her, 7), (96, 276847, Fast Women, 9), (97, 276847, Female Intelligence, 7), (98, 276847, Pasquale's Nose: Idle Days in an Italian Town, 6), (99, 276847, The Gospel of Judas: A Novel, 8), ...]

[10000 rows x 0 columns]

In [ ]:
user_book.head()

Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ãƒ?Ã‚?bermorgen.
ID,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
user_book.index = book.ID.unique()

In [ ]:
user_book

Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ãƒ?Ã‚?bermorgen.
276726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
162121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
user_book.fillna(0,inplace=True)

In [ ]:
user_book

Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ãƒ?Ã‚?bermorgen.
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine

In [ ]:
user_sim = 1 - pairwise_distances( user_book.values,metric='cosine')

In [ ]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [ ]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [ ]:
#Set the index and column names to user ids 
user_sim_df.index = book.ID.unique()
user_sim_df.columns = book.ID.unique()

In [ ]:
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     1.0     0.0     0.0     0.0     0.0
276729     0.0     1.0     0.0     0.0     0.0
276736     0.0     0.0     1.0     0.0     0.0
276737     0.0     0.0     0.0     1.0     0.0
276744     0.0     0.0     0.0     0.0     1.0

In [ ]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

In [ ]:
#Most Similar Users
user_sim_df.idxmax(axis=1)[0:5]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
dtype: int64

In [ ]:
book[(book['ID']==276729) | (book['ID']==276726)]

       ID                 Title  Rating
0  276726   Classical Mythology       5
1  276729          Clara Callan       3
2  276729  Decision in Normandy       6

In [ ]:
user_1=book[book['ID']==276729]

In [ ]:
user_2=book[book['ID']==276726]

In [ ]:
type(user_2)

pandas.core.frame.DataFrame

In [ ]:
user_2

       ID                Title  Rating
0  276726  Classical Mythology       5

In [ ]:
user_1

       ID                 Title  Rating
1  276729          Clara Callan       3
2  276729  Decision in Normandy       6

In [ ]:
user_1.dtypes

ID         int64
Title     object
Rating     int64
dtype: object